* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    background-color: #071c39;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden; 
}

.nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vh;
    background-color: #76767666;
}

.btn:hover {
    transition: all ease-in-out .2s;
    background-color: #0f73ff;
    color: white;
}

.btn {
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: medium;
    color: black;
    border-radius: 2px;
    margin: 20px 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.text {
    text-align: center;
}

.text h1 {
    font-size: 4vw;
    margin-bottom: 1vw;
}

#subt {
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    color: antiquewhite;
    font-size: medium;
    color: black;
    border-radius: 2px;
    margin-bottom: 20px;
}

#subt:hover {
    transition: all ease-in-out .2s;
    background-color: #0f73ff;
    color: white;
}

#guessField {
    height: 40px;
    font-size: larger;
    padding: 0 10px;
    outline: none;
    font-weight: bold;
}

.noHeading {
    font-size: 3vw;
    margin: 1vw 0;
}

.finalno {
    font-size: 1vw;
    margin: 2vw 0;
    color: crimson;
}


.container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.textArea {
    z-index: 2;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.gradient {
    --size: 750px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(222, 84, 60, 100%), hsl(164, 79, 71));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
    .gradient {
        --size: 500px;
    }
}
